{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museu Virtual PANC - Início</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/1f0b7d6794.js" crossorigin="anonymous"></script>
    <linkb
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    {% extends 'base.html' %}
    {% load static %}

    {% block title %}Museu Virtual PANC - Início{% endblock %}

    {% block content %}
    <header class="landing-hero">
        <span style="color: var(--dourado); letter-spacing: 3px; font-weight: bold; text-transform: uppercase;">
            Projeto de Preservação
        </span>
        <h1>Museu Virtual PANC</h1>
        <p style="font-size: 1.2rem; max-width: 700px; margin-top: 10px;">
            Resgatando a história, a biologia e a cultura alimentar do nosso Quilombo.
        </p>
    </header>

    <main class="container">
        <nav class="menu-grid">
            <a href="{% url 'acervo' %}" class="menu-card">
                <i class="fa-solid fa-book fa-2xl"></i>
                <h3><br>Acervo Digital</h3>
                <p>Catálogo completo com fotos e fichas técnicas.</p>
            </a>

            <a href="{% url 'mapa' %}" class="menu-card">
                <i class="fa-solid fa-map fa-2xl"></i>
                <h3><br>Território</h3>
                <p>Geografia afetiva e locais de cultivo.</p>
            </a>

            <a href="{% url 'dashboard' %}" class="menu-card">
                <i class="fa-solid fa-chart-simple fa-2xl"></i>
                <h3><br>Painel de Dados</h3>
                <p>Estatísticas de produção e consumo.</p>
            </a>

            <a href="{% url 'curiosidades' %}" class="menu-card">
                <i class="fa-solid fa-lightbulb fa-2xl"></i>
                <h3><br>Saberes</h3>
                <p>Curiosidades e medicina tradicional.</p>
            </a>
        </nav>
    </main>
    {% endblock %}

    <footer>
        <p>&copy; 2026 Museu Virtual PANC - Conectando Raízes e Futuro.</p>
    </footer>

</body>

</html>